
  <section id="top-bar" class="p-3">
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <i class="fas fa-phone"></i>
          +226 73602537
        </div>
        <div class="col-md-4">
          <i class="fas fa-envelope-open"></i> 
          ipafadnam6@gmail.com
        </div>
        <div class="col-md-4"> 
          <div class="social text-right">
            <a href="https://github.com/IbrahimPafadnam">
              <i class="fab fa-github"></i>
            </a>
            <a href="https://www.linkedin.com/in/pafadnam-ibrahim-3206482a2?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">
              <i class="fab fa-linkedin"></i>
            </a>
            <a href="#">
              <i class="fab fa-google"></i>
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>